body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    color: #888;
    font-size: 30px;
}

canvas {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    font-family: "Fira Code", serif;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    font-size: large;
    color: #000;
    background-color: #888;
    user-select: none;
    -moz-user-select: none;
    position: absolute;
    bottom: 30px;
    left: 50%;
}

button:hover {
    color: #fff;
    background-color: #888;
}

#previous {
    transform: translate(-330px, 0);
}

#next {
    transform: translate(130px, 0);
}

#regenerate {
    transform: translate(-100px, 0);
}

#dayText {
    width: 540px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-270px, 0);
}